{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span14">
            <h2>Post edit</h2>

            <form class="form-stacked" action="{{ path('blog_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
                <div class="clearfix">
                    {{ form_label(edit_form.title) }}
                    {{ form_widget(edit_form.title, {attr: {class: 'span5'}}) }}
                </div>
                <div class="clearfix">
                    {{ form_label(edit_form.body) }}
                    {{ form_widget(edit_form.body, {attr: {class: 'span5'}}) }}
                </div>
                {{ form_rest(edit_form) }}
                <div class="clearfix span5">
                    <input type="submit" class="btn primary pull-right" value="Edit" />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="span14">
            <div class="well">
                <a href="{{ path('blog_show', {id: entity.id}) }}" class="btn">Back</a>
            </div>
        </div>
    </div>
{% endblock %}
