{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span14">
            <h2>New post</h2>

            <form class="form-stacked" action="{{ path('blog_create') }}" method="post" {{ form_enctype(form) }}>
                <div class="clearfix">
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {attr: {class: 'span5'}}) }}
                </div>
                <div class="clearfix">
                    {{ form_label(form.body) }}
                    {{ form_widget(form.body, {attr: {class: 'span5'}}) }}
                </div>
                {{ form_rest(form) }}
                <div class="clearfix span5">
                    <input type="submit" class="btn primary pull-right" value="Create" />
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="span14">
            <div class="well">
                <a href="{{ path('blog') }}" class="btn">Back</a>
            </div>
        </div>
    </div>
{% endblock %}
