{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block javascripts %}
    {# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> #}
    <script src="{{ asset('bundles/acmeblog/js/jquery-1.7.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeblog/js/sockjs-0.3.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeblog/js/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/acmeblog/js/show.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row" data-post-id="{{ post.id }}">
        <div class="span14">
            <form action="{{ path('blog_delete', { 'id': post.id }) }}" method="post" class="pull-right" style="display: inline-block; margin-left: 10px;">
                {{ form_widget(delete_form) }}
                <input type="submit" value="Delete" class="btn danger" />
            </form>
            <a href="{{ path('blog_edit', { 'id': post.id }) }}" class="btn pull-right">Edit</a>

            <h1>{{ post.title }}</h1>
            <p>{{ post.body }}</p>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="span8 comment-list">
            {% include "AcmeBlogBundle:Comment:list.html.twig" with {comments: post.comments} %}
        </div>
        <div class="span6 comment-form">
            {% include "AcmeBlogBundle:Comment:form.html.twig" %}
        </div>
    </div>

    <div class="row">
        <div class="span14">
            <div class="well">
                <a href="{{ path('blog') }}" class="btn">Back</a>
            </div>
        </div>
    </div>
{% endblock %}
