{% extends "AcmeBlogBundle::layout.html.twig" %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://localhost:81/socket.io/socket.io.js"></script>
    <script src="{{ asset('bundles/acmeblog/js/show.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset5 span6">
            <h2>{{ entity.title }}</h2>
            <p>{{ entity.body }}</p>
        </div>
    </div>

    <div class="row">
        <div class="offset5 span6">
            <form action="{{ path('blog_delete', { 'id': entity.id }) }}" method="post" class="pull-right" style="display: inline-block; margin-left: 10px;">
                {{ form_widget(delete_form) }}
                <input type="submit" value="Delete" class="btn danger" />
            </form>
            <a href="{{ path('blog_edit', { 'id': entity.id }) }}" class="btn pull-right">Edit</a>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="offset5 span6">
            <h2>Comments</h2>

            <div class="comments">
            {% if entity.comments|length %}
                {% for comment in entity.comments %}
                    <p>{{ comment.body }}</p>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset5 span6">
            <form action="{{ path('blog_comment_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(comment_form) }} class="new_comment">
                <div class="pull-right">
                    <input type="submit" value="Comment" class="btn primary" />
                </div>
                {{ form_widget(comment_form.body) }}
                {{ form_rest(comment_form) }}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="offset5 span6">
            <div class="well">
                <a href="{{ path('blog') }}" class="btn">Back</a>
            </div>
        </div>
    </div>
{% endblock %}
