<h1>Post</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Body</th>
            <td>{{ entity.body }}</td>
        </tr>
    </tbody>
</table>

{% if entity.comments|length %}
    <h2>Comments</h2>

    <ul>
    {% for comment in entity.comments %}
        <li>{{ comment.body }}</li>
    {% endfor %}
    </ul>
{% endif %}

<h2>Add comment</h2>

<form action="{{ path('blog_comment_create', { 'id': entity.id }) }}" method="post" {{ form_enctype(comment_form) }}>
    {{ form_widget(comment_form) }}
    <p>
        <button type="submit">Comment</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('blog') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blog_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('blog_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
