<div class="row">
    <div class="span2">
        <ul class="media-grid">
            <li>
                <a href="{{ comment.avatarUrl }}?s=512">
                    <img class="thumbnail" src="{{ comment.avatarUrl }}?s=90" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="span5">
        <h4>
            {{ comment.name }}
            <small data-date="{{ comment.createdAt.format('Y-m-d H:i:s') }}">
                {{ comment.createdAt.format('Y-m-d H:i:s') }}
            </small>
        </h4>
        <p>
            {{ comment.body }}
        </p>
    </div>
    <div class="span1"></div>
</div>
